.second {
    display: flex;
    margin: 16px;
  }
  
  .released {
    width: 76%;
  }
  
  .filter {
    width: 24%;
  }
  
  .card-component {
    flex-wrap: wrap;
    flex: 0 1 24%;
    margin: 16px;
    padding-top: 15px;
  }