.topnav {
  overflow: hidden;
  background-color: #222;
  height: 36px;
  padding: 8px 32px 8px 16px;
}

.header-logo {
  background-color: #ff7f7f;
  height: 35px;
}

.header-logo-animation {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.header-button {
  float: right;
}

.tabs {
  margin-bottom: 20px;
}

.bookshow-button {
  float: right;
  margin-right: 8px;
}
